body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#controls {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  position: relative;
}

#map {
  height: 90vh;
  width: 100%;
}

#layer-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 10px;
}

#layer-controls div {
  display: flex;
  align-items: center;
  min-width: 160px;
}

#layer-controls input {
  margin-right: 6px;
}


#layer-controls div {
  min-width: 140px;
}

.label-icon {
  background: none;
  border: none;
  box-shadow: none;
}

